* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #222222;
  color: white;
}

img {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid 5px #ffdd33;
  border-radius: 50%;
  margin-top: 50px;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0;
  font-size: 2em;
}

.scoreBox {
  border: solid white 5px;
  display: flex;
  width: 150px;
  height: 100px;
  justify-content: center;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
}

.teamScore {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.answerContent, .answerValue {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.answerContent {
  height: 100%;
  width: 85%;
  /* background-color: black; */
}

.answerValue {
  background-color: #ffdd33;
  width: 15%;
  color: black;
}

#answerArea {
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
}

#logoBox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#questionArea {
  width: 950px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.5em;
}

#strikeArea {
  height: 100px;
  width: 500px;
  display: flex;
  justify-content: space-around;
  font-size: 4em;
  font-weight: bold;
  color: red;
}

#questionScore, #score1, #score2 {
  font-size: 2em;
}

.answer, .cover {
  border: solid white 5px;
  display: flex;
  height: 100px;
  width: 50%;
  justify-content: center;
  align-items: center;
  background-color: #222222;
}

.answer {
  display: flex;
  justify-content: space-around;
}

.hide {
  display: none;
}
